:root {
  --navbar-height: 70px;
}

#navbar {
  background: color-mix(in oklab, var(--surface0) 65%, transparent);
  backdrop-filter: blur(10px);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000000;

  width: 100%;
  height: var(--navbar-height);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

#link {
  font-family: "Material Symbols Rounded";
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;

  color: var(--text);

  &.active {
    color: var(--mauve);
    font-weight: 600;
  }
}
