#navbar {
  background: color-mix(in oklab, var(--surface1) 65%, transparent);
  backdrop-filter: blur(1px);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000000;

  width: 100%;
  height: 70px;
}
