:root {
  --rosewater: #f4dbd6;
  --rosewater-rgb: 244 219 214;
  --rosewater-hsl: 10 57.692% 89.804%;
  --flamingo: #f0c6c6;
  --flamingo-rgb: 240 198 198;
  --flamingo-hsl: 0 58.333% 85.882%;
  --pink: #f5bde6;
  --pink-rgb: 245 189 230;
  --pink-hsl: 316.071 73.684% 85.098%;
  --mauve: #c6a0f6;
  --mauve-rgb: 198 160 246;
  --mauve-hsl: 266.512 82.692% 79.608%;
  --red: #ed8796;
  --red-rgb: 237 135 150;
  --red-hsl: 351.176 73.913% 72.941%;
  --maroon: #ee99a0;
  --maroon-rgb: 238 153 160;
  --maroon-hsl: 355.059 71.429% 76.667%;
  --peach: #f5a97f;
  --peach-rgb: 245 169 127;
  --peach-hsl: 21.356 85.507% 72.941%;
  --yellow: #eed49f;
  --yellow-rgb: 238 212 159;
  --yellow-hsl: 40.253 69.912% 77.843%;
  --green: #a6da95;
  --green-rgb: 166 218 149;
  --green-hsl: 105.217 48.252% 71.961%;
  --teal: #8bd5ca;
  --teal-rgb: 139 213 202;
  --teal-hsl: 171.081 46.835% 69.02%;
  --sky: #91d7e3;
  --sky-rgb: 145 215 227;
  --sky-hsl: 188.78 59.42% 72.941%;
  --sapphire: #7dc4e4;
  --sapphire-rgb: 125 196 228;
  --sapphire-hsl: 198.641 65.605% 69.216%;
  --blue: #8aadf4;
  --blue-rgb: 138 173 244;
  --blue-hsl: 220.189 82.813% 74.902%;
  --lavender: #b7bdf8;
  --lavender-rgb: 183 189 248;
  --lavender-hsl: 234.462 82.278% 84.51%;
  --text: #cad3f5;
  --text-rgb: 202 211 245;
  --text-hsl: 227.442 68.254% 87.647%;
  --subtext1: #b8c0e0;
  --subtext1-rgb: 184 192 224;
  --subtext1-hsl: 228 39.216% 80%;
  --subtext0: #a5adcb;
  --subtext0-rgb: 165 173 203;
  --subtext0-hsl: 227.368 26.761% 72.157%;
  --overlay2: #939ab7;
  --overlay2-rgb: 147 154 183;
  --overlay2-hsl: 228.333 20% 64.706%;
  --overlay1: #8087a2;
  --overlay1-rgb: 128 135 162;
  --overlay1-hsl: 227.647 15.455% 56.863%;
  --overlay0: #6e738d;
  --overlay0-rgb: 110 115 141;
  --overlay0-hsl: 230.323 12.351% 49.216%;
  --surface2: #5b6078;
  --surface2-rgb: 91 96 120;
  --surface2-hsl: 229.655 13.744% 41.373%;
  --surface1: #494d64;
  --surface1-rgb: 73 77 100;
  --surface1-hsl: 231.111 15.607% 33.922%;
  --surface0: #363a4f;
  --surface0-rgb: 54 58 79;
  --surface0-hsl: 230.4 18.797% 26.078%;
  --base: #24273a;
  --base-rgb: 36 39 58;
  --base-hsl: 231.818 23.404% 18.431%;
  --mantle: #1e2030;
  --mantle-rgb: 30 32 48;
  --mantle-hsl: 233.333 23.077% 15.294%;
  --crust: #181926;
  --crust-rgb: 24 25 38;
  --crust-hsl: 235.714 22.581% 12.157%;
}
