@use "./reset.scss";
@use "./ctp.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  padding: 0;
}

body {
  background: var(--mantle);
  color: var(--text);

  font-family: Montserrat, system-ui;
  font-weight: 600;

  overflow: hidden;
}

#content {
  min-height: 101dvh;
  width: 100%;

  background: var(--red);

  overflow-y: scroll;
}

#navbar {
  background: color-mix(in oklab, var(--surface1) 75%, transparent);
  /* mix-blend-mode: color-burn; */
  backdrop-filter: blur(1.5px) saturate(150%) contrast(200%);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 70px;
}

// so that the timetable can always been scrolled into view
#bottom-padding {
  height: 100px;
  background: var(--blue);
}
