#content {
  height: 101dvh;
  width: 100%;

  overflow-y: scroll;

  padding: 20px;
  background: none;
}

#colors {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}

#colors-container {
  background: var(--surface0);
  padding: 10px;
  border-radius: 10px;
}

.color-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 5px;
  padding-inline: 5px;

  width: 100%;
}

.color-row select {
  margin: 3px;
  background: var(--crust);
  text-align: center;
  border: 1px solid var(--lavender);
}

.color-row > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > .subject-text {
    text-align: left;
  }

  & > .color-text {
    justify-self: right;
    padding-inline: 10px;
  }

  & > select {
    width: 65%px;
    justify-self: right;
  }
}

.color-row:nth-child(odd) {
  background: var(--mantle);
  border-radius: 5px;

  // & > div > select {
  //   background: var(--surface0);
  // }
}

.color-row:nth-child(even) {
  background: var(--base);
}

#timetables-settings-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 7px;
}

.timetables-settings-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 3px;
}

#new-timetable-input,
#clear-timetables-description {
  width: 100%;
  background: var(--surface0);
  border-radius: 10px;
  margin-right: 5px;
  padding: 7px;
  color: var(--text);

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  &::placeholder {
    color: color-mix(in oklab, var(--lavender) 60%, transparent);
  }
}

#new-timetable-button,
#clear-timetables-button {
  border-radius: 10px;
  background: var(--lavender);
  border: none;
  color: var(--crust);

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#clear-timetables-button {
  background: var(--red);
}

// POPUPS

.popup-bg {
  height: 110dvh;
  width: 110dvw;

  position: fixed;
  top: calc(-5dvh - var(--navbar-height));
  left: -5dvw;

  background: rgb(0 0 0 / 30%);

  display: grid;
  align-items: center;
  justify-content: center;
}

.popup-container {
  background: var(--crust);
  border: 2px solid var(--lavender);
  border-radius: 20px;
  width: 75dvw;
  height: 25dvh;

  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;

  align-items: center;
  justify-content: center;

  padding: 10px;
  gap: 10px;
}

.popup-text {
  text-align: center;
  margin-inline: 10px;
}

.popup-buttons-grid.has-two-buttons {
  grid-template-columns: 1fr 1fr !important;
}

.popup-button.bad-button {
  background: var(--red) !important;
}

.popup-buttons-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  gap: 3px;

  & > button {
    --small-radius: 3px;

    border: none;
    border-radius: 10px;

    color: var(--crust);

    background: var(--lavender);

    &:has(+ button):nth-child(1) {
      border-top-right-radius: var(--small-radius);
      border-bottom-right-radius: var(--small-radius);
    }

    &:nth-child(2) {
      border-top-left-radius: var(--small-radius);
      border-bottom-left-radius: var(--small-radius);
    }
  }
}

#error-text {
  color: var(--red);
  font-size: 10pt;
}

#spacer {
  height: 500px;
}
