#content {
  height: 101dvh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 20px;
  background: none;
}

#colors {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
}

#colors-container {
  background: var(--surface0);
  padding: 10px;
  border-radius: 10px;
}

.color-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 5px;
  padding-inline: 5px;

  width: 100%;
}

.color-row select {
  margin: 3px;
  background: var(--crust);
  text-align: center;
  border: 1px solid var(--lavender);
}

.color-row > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > .subject-text {
    text-align: left;
  }

  & > .color-text {
    justify-self: right;
    padding-inline: 10px;
  }

  & > select {
    width: 65%px;
    justify-self: right;
  }
}

.color-row:nth-child(odd) {
  background: var(--mantle);
  border-radius: 5px;

  // & > div > select {
  //   background: var(--surface0);
  // }
}

.color-row:nth-child(even) {
  background: var(--base);
}

#timetables-settings-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 7px;
}

.timetables-settings-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}

#new-timetable-input,
#clear-timetables-description {
  width: 100%;
  background: var(--surface0);
  border-radius: 7px;
  margin-right: 5px;
  padding: 7px;

  &::placeholder {
    color: color-mix(in oklab, var(--lavender) 60%, transparent);
  }
}

#new-timetable-button,
#clear-timetables-button {
  border-radius: 1000px;
  background: var(--lavender);
  border: none;
  color: var(--crust);
}

#clear-timetables-button {
  background: var(--red);
}
