#content {
  height: 101dvh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 20px;
  background: none;
}

// so that the timetable can always be scrolled into view
#bottom-padding {
  grid-row-start: -1;
  height: 100px;
  background: transparent;
}

#title-grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  margin-inline: 20px;

  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

#main-title {
  text-align: center;
}

#day-button {
  background: none;
  border: none;
  color: var(--text);
  font-family: "Material Symbols Rounded";
  font-size: 30pt;
}

#grid-container {
  --time-col-width: 50px;
  display: grid;
  grid-template-columns: var(--time-col-width) 1fr;
  height: calc(100px * 10);
}

#times {
  display: grid;
  grid-template-rows: repeat(9, 1fr) 10px;
}

p#time {
  font-family: "Cascadia Code", system-ui;
  font-size: 15px;
  position: relative;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &::after {
    content: "";
    position: absolute;
    width: 77dvw;
    height: 1px;
    background: var(--overlay0);
    left: var(--time-col-width);
    top: 10px;
    z-index: -1;
  }
}

#lessons {
  width: 100%;
  height: calc(100% - 10px);
  margin-top: 10px;
  border-radius: 20px;

  padding-inline: 10px;

  display: grid;

  // A row every 5 minutes
  grid-template-rows: repeat(108, 1fr);
  gap: 1px;
}

#lesson {
  color: var(--overlay2);
  grid-row-start: calc(12 + 1);
  grid-row-end: span calc(12 * (9 / 6));
  width: 100%;
  border-radius: 10px;

  --padding: 5px;
  padding: var(--padding);
  line-height: 1.1;

  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr 16px;

  & > * {
    @supports (mix-blend-mode: plus-darker) {
      mix-blend-mode: plus-darker;
    }

    @supports not (mix-blend-mode: plus-darker) {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  & > h1#lesson__subject-name {
    font-size: 1.65rem;
  }

  & > div#lesson__header {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  & > p#lesson__time-start,
  p#lesson__time-end {
    font-family: "Cascadia Code";
    grid-column-start: 2;
  }

  & > p#lesson__time-start {
    grid-row-start: 1;
  }
}
